.config__gear {
  position: absolute;
  z-index: 100;

  top: 3px;
  right: 5px;

  -webkit-transform: rotate(0deg);
  -webkit-transition: -webkit-transform .5s ease-in-out;
}

.config__gear.true {
  -webkit-transform: rotate(135deg);
}

.config__overlay {
  position: absolute;
  z-index: 98;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.config__panel {
  position: absolute;
  z-index: 99;

  top: 1px;
  right: 2px;
  padding: 20px 15px 15px 15px;

  background: white;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: #444;
  font-size: 0.8em;
}

.config__startup,
.config__quit {
  margin-right: 8px;
}

.config__item {
  cursor: pointer;
}

.config__separator {
  width: 100%;
  margin: 8px 0;

  border-bottom: 1px solid #aaa;
}
