.config__gear {
  position: absolute;
  z-index: 100;

  top: 9px;
  right: 10px;

  -webkit-transform: rotate(0deg);
  transition: -webkit-transform .5s;
}

.config__gear.true {
  -webkit-transform: rotate(-135deg);
}

.config__overlay {
  position: absolute;
  z-index: 98;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.config__panel {
  position: absolute;
  z-index: 99;

  top: 1px;
  right: 2px;
  padding: 20px 15px 15px 15px;

  background: white;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  color: #808080;
  font-family: 'Open Sans';
  font-size: 10pt;
}

.config__startup,
.config__quit {
  margin-right: 8px;
}

.config__item * {
  cursor: pointer;
}

.config__separator {
  width: 100%;
  margin: 8px 0;

  border-bottom: 1px solid #aaa;
}


.panel-enter.panel-enter-active,
.panel-leave {
  -webkit-transform: scale(1, 1);
  transition: -webkit-transform .2s;

  .content {
    opacity: 1;
    transition: opacity .15s;
  }
}

.panel-enter,
.panel-leave {
  -webkit-transform-origin: top right;
}

.panel-enter,
.panel-leave.panel-leave-active {
  -webkit-transform: scale(0.1, 0.165);

  .content {
    opacity: 0;
  }
}
