.following {
  position: relative;
  width: 400px;
  height: 351px;
  background: white;
  overflow-y: scroll;
}

.following-title {
  height: 34px;
  padding-top: 4px;
  border-bottom: 1px solid #c3c3c3;
  background: linear-gradient(#fff, #e0e0e0);
  color: #696969;
  font-family: montserrat;
  font-size: 10.5pt;
  line-height: 26px;
  text-align: center;
}

.following-profile {
  position: absolute;
  z-index: 100;
  top: 4px;
  left: 8px;
  color: #4183c4;
  font-family: montserrat;
  font-size: 10.5pt;
  line-height: 26px;
  cursor: pointer;
}
