.login {
  position: relative;

  top: 25px;
  width: 400px;
  height: 360px;
  padding-top: 20px;

  background: white;
  color: #808080;
  font-family: 'Open Sans';
  text-align: center;

  h1 {
    color: #000;
  }
}

.login__blue {
  color: #4183c4;
}

.login__input {
  width: 70%;
  padding: 10px;
  margin-top: 10px;

  border: 1px solid #c3c3c3;
  border-radius: 5px;
  color: #606060;
  font-size: 1.1em;
  text-align: center;

  &:focus {
    outline: none;
  }
}

.login__zen {
  position: absolute;

  bottom: 20px;
  width: 100%;

  font-size: .8em;
}
