body {
  margin: 0;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url('../fonts/open_sans/OpenSans-Regular.ttf') format('truetype');
}

.chrome {
  font-size: 1em;

  .profile-title {
    padding-top: 6px;
  }

  .config__gear {
    top: 5px;
  }

  .update {
    margin-top: 7px;
  }

  .config__item:nth-of-type(1)
  .config__separator:nth-of-type(2) {
    display: none;
  }

  .panel-enter,
  .panel-leave.panel-leave-active {
    -webkit-transform: scale(0.11, 0.25);
  }
}

* {
  box-sizing: border-box;
}
