body {
  margin: 0;
  font-family: Helvetica, arial;
}

.chrome {
  font-size: 1em;

  .profile-title {
    padding-top: 6px;
  }

  .config__gear {
    top: 5px;
  }

  .update {
    margin-top: 7px;
  }
}

* {
  box-sizing: border-box;
}
