body {
  margin: 0;
  font-family: Helvetica, arial;
}

.chrome {
  font-size: 1em;

  .profile-title {
    padding-top: 6px;
  }

  .config__gear {
    top: 5px;
  }

  .update {
    margin-top: 7px;
  }

  .config__item:nth-of-type(1)
  .config__separator:nth-of-type(2) {
    display: none;
  }

  .panel-enter,
  .panel-leave.panel-leave-active {
    -webkit-transform: scale(0.11, 0.25);
  }
}

* {
  box-sizing: border-box;
}
