$width = 400px;

.profile-info {
  height: 120px;
  padding: 10px;

  border-bottom: 1px solid #ccc;
}

.profile-info__picture {
  float: left;

  width: 100px;

  border-radius: 6px;
}

.profile-info__data {
  float: left;

  width: 275px;
  height: 100px;
  padding-left: 10px;
}

.profile-info__name {
  margin: 40px 0 0 0;

  color: #4183c4;
  font-size: 1.5em;
}

.profile-info__username {
  margin: 0;

  color: #444;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
}

.profile-info__logout {
  color: #444;
  cursor: pointer;
}
