$width = 400px;

.profile-info {
  height: 90px;
  padding: 20px;

  border-bottom: 1px solid #e9e9e9;
}

.profile-info__picture {
  float: left;

  width: 48px;

  border-radius: 50%;
}

.profile-info__data {
  float: left;

  width: 275px;
  height: 100px;
  padding-left: 20px;
}

.profile-info__name {
  margin: 0;

  color: #4183c4;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 18pt;
  line-height: 18pt;
  margin-bottom: 4px;
}

.profile-info__username {
  margin: 0;

  color: #696969;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 14pt;
  line-height: 14pt;
}

.profile-info__logout {
  color: #444;
  cursor: pointer;
}
