$width = 400px;

.profile-info {
  position: relative;

  height: 90px;

  border-bottom: 1px solid #e9e9e9;
}

.profile-info__picture {
  position: absolute;

  left: 20px;
  top: 20px;
  width: 50px;

  border-radius: 50%;
}

.profile-info__data {
  position: absolute;

  left: 90px;
  top: 0px;
  width: 290px;
  height: 90px;

  line-height: 86px;
}

.profile-info__data__content {
  display: inline-block;
  vertical-align: middle;
}

.profile-info__name {
  margin-bottom: 4px;

  color: #4183c4;
  font-family: 'Open Sans';
  font-size: 16pt;
  font-weight: bold;
  line-height: 16pt;
}

.profile-info__username {
  margin: 0;

  color: #696969;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 12pt;
  line-height: 12pt;
}

.profile-info__logout {
  margin-left: 6px;

  color: #444;
  cursor: pointer;
}
