.profile {
  position: relative;

  width: 400px;
  height: 316px;

  background: white;
}

.update {
  height: 35px;
  padding: 7px 6px;

  background: linear-gradient(#fff, #e0e0e0);
  border-top: 1px solid #c3c3c3;
  color: #8d8d8d;
  font-family: 'Open Sans';
  font-size: 10pt;
}

.update__sync,
.update__last {
  float: left;
}

.update__sync {
  width: 14px;
  height: 14px;
  margin: 3px;
}

.update__last {
  margin: 1px 0 0 3px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.rotate {
  -webkit-animation: rotate 2s infinite linear;
}

.profile-title {
  height: 34px;
  padding-top: 4px;

  border-bottom: 1px solid #c3c3c3;
  background: linear-gradient(#fff, #e0e0e0);
  color: #696969;
  font-family: montserrat;
  font-size: 10.5pt;
  line-height: 26px;
  text-align: center;
}

.version {
  float: right;
  margin: 1px 8px 0 0;

  color: #8d8d8d;
  font-weight: bold;

  .octicon-alert {
    cursor: pointer;
    margin-left: 3px;
    font-size: 9pt;
  }
  
  &.true:hover::before {
    content: 'Update available, click to restart and apply';
    position: absolute;
    display: block;
    width: 150px;
    height: 40px;
    bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    background: black;
    font: open sans;
    color: white;
    right: 3px;
  }
}
