.profile {
  position: relative;

  width: 400px;
  height: 325px;

  background: white;
}

.update {
  margin: 5px 0 0 8px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.rotate {
  -webkit-animation: rotate 2s infinite linear;
}

.profile-title {
  height: 25px;
  padding-top: 4px;

  font-size: 14px;
  text-align: center;
}
