.stats {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;

  border-top: 2px solid #e9e9e9;
  font-family: montserrat;
}

.stat {
  float: left;

  width: 25%;
  padding-bottom: 10px;

  border-left: 1px solid #e9e9e9;
  text-align: center;

  &:first-child {
    border-left: none;
  }
}

.stat__count {
  margin: 15px 0 5px 0;

  color: #4183c4;
  font-size: 18pt;
  line-height: 18pt;
}

.stat__name {
  color: #a4a4a4;
  font-size: 8pt;
}

.notification {
  position: relative;
  top: -10px;
  color: #c44141;
  font-size: 11pt;
}
