/**
* Github Pulse
* file: style.css
* Author: Rafaell Lycan
*/

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  color: #393939;
  font-family: 'Open Sans', sans-serif;
}

img{
  max-width: 100%;
}

.clear{
  clear: both;
}

.center{
  text-align: center;
}

.text-blue{
  color: #4da6ff;
}

h3{
  font-size: 1.5em;
}
h4{
  font-size: 1.2em;
}

.btn{
  color:#333;
  border: 2px solid #333;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  transition: all 100ms linear;
}

.btn:hover{
  color: white;
  background-color: #333;
}

.btn.gray{
  color:#777;
  border-color: #777;
}

.btn.gray:hover{
  color: white;
  background-color: #777;
}

.btn.blue{
  color:#4da6ff;
  border-color: #4da6ff;
}

.btn.blue:hover{
  color: white;
  background-color: #4da6ff;
}

/* HEADER */
.header{
  color: white;
  min-height: 80vh;
  background: #eee url('../img/header-bg.jpg') no-repeat center top;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 20px 0 0;
}

.header .logo{
  margin: 0 auto;
  text-indent: -999px;
  width: 124px;
  height: 71px;
  display: inline-block;
  overflow: hidden;
}
.header .logo img{
  display: block;
}

.download small{
  color: #ccc;
}

.download .btn{
  color:white;
  border-color: white;
  font-size: 1.5em;
  padding: 8px 40px;
  margin: 20px 0 10px;
  line-height: 1em;
}

.download .btn span{
  display: block;
  font-size: 0.5em;
  color: #b1b1b1;
}

.download .btn:hover{
  color: black;
  background-color: white;
}

.header .app-screen{
  width: 100%;
  margin-top: 30px;
}
.header .app-screen img{
  display: block;
  margin: auto;
}

/* SECTIONS */
.app-what, .app-why, .app-download, .footer{
  padding: 50px 0;
}

/* SECTION WHAT */
.app-what{
  background-color: #eee;
}

.app-what .details{
  margin-top: 50px;
}

.app-what .item-detail{
  border-radius: 5px;
}
.app-what .description{
  margin-top: 10px;
}

/* SECTION WHY */
.app-why .icon{
  width: 100px;
  padding: 20px;
  border-radius: 50%;
  border: 2px solid #4da6ff;
}

/* SECTION download */
.app-download{
  border-top: 1px solid #ddd;
}

.app-download img{
  max-width: 130px;
  display: block;
  margin: 30px auto;
}

.app-download .btn{
  max-width: 300px;
}

.footer{
  padding-top: 0;
  background-color: #292929;
  color: white;
}
.footer .menu{
  width: 100%;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  margin-bottom: 50px;
}
.footer .menu ul{
  margin: 0;
  padding: 20px 0;
}
.footer .menu li{
  display: inline-block;
  margin: 0 2em;
  font-size: 1.125em;
}

.footer .menu a{
  text-decoration: none;
}
.footer .menu a:hover{
  text-decoration: underline;
}

/* Phablet */
@media (max-width: 749px) {
  .app-screen{
    display: none;
  }
}

/* Mobile */
@media (max-width: 549px) {
  .app-screen{
    display: none;
  }

  .app-download img{
    display: none;
  }

  .app-download .btn{
    margin-bottom: 50px;
  }
}