.login {
  position: relative;

  width: 400px;
  height: 320px;
  padding-top: 20px;

  text-align: center;
}

.login__blue {
  color: #4183c4;
}

.login__input {
  width: 70%;
  padding: 10px;
  margin-top: 10px;

  border: 1px solid #888;
  border-radius: 5px;
  font-size: 1.1em;
  text-align: center;
}

.login__zen {
  position: absolute;

  bottom: 20px;
  width: 100%;

  font-size: .8em;
  color: #888;
}
