.profile {
  position: relative;

  width: 400px;
  height: 325px;

  background: white;
}

.update {
  margin: 5px 0 0 5px;
}

.profile-title {
  height: 25px;
  padding-top: 4px;

  font-size: 14px;
  text-align: center;
}
