.stats {
  position: absolute;
  bottom: 0;
  width: 100%;

  border-top: 1px solid #aaa;
}

.stat {
  float: left;

  width: 25%;
  padding-bottom: 10px;

  border-left: 1px solid #aaa;
  color: #555;
  text-align: center;
}

.stat__count {
  margin: 15px 0 5px 0;

  color: #4183c4;
}
